In [22]:
import geopandas as gpd
import pandas as pd

In [30]:
shp = gpd.read_file(r'Data/MetropAccess_YKR_grid/MetropAccess_YKR_grid_EurefFIN.shp')

In [32]:
transport = pd.read_csv('Data/travel_times_to_ 5859425.csv', delimiter=";")

In [33]:
shp.set_index('YKR_ID',inplace=True)
shp.drop(columns=['x','y'],inplace=True)

In [34]:
data = shp.join(transport.set_index("from_id"))

In [36]:
data = data.loc[(data['walk_t']>=0)|(data['walk_d']>=0)|(data['pt_r_tt']>=0)|(data['pt_r_t']>=0)|(data['pt_r_d']>=0)|(data['pt_m_tt']>=0)|(data['pt_m_t']>=0)|(data['pt_m_d']>=0)|(data['car_r_t']>=0)|(data['car_r_d']>=0)|(data['car_m_t']>=0)|(data['car_m_d']>=0)]

In [37]:
data

,geometry,to_id,walk_t,walk_d,pt_r_tt,pt_r_t,pt_r_d,pt_m_tt,pt_m_t,pt_m_d,car_r_t,car_r_d,car_m_t,car_m_d
YKR_ID,,,,,,,,,,,,,,
5785640,"POLYGON ((382000.000 6697750.000, 381750.000 6...",5859425,211,14779,147,118,19754,157,126,19172,42,21175,37,21175
5785641,"POLYGON ((382250.000 6697750.000, 382000.000 6...",5859425,198,13842,144,124,19960,157,129,19377,42,21386,37,21386
5785642,"POLYGON ((382500.000 6697750.000, 382250.000 6...",5859425,199,13922,144,126,20077,157,131,19495,46,18053,42,18053
5785643,"POLYGON ((382750.000 6697750.000, 382500.000 6...",5859425,203,14214,154,127,20370,160,135,19788,50,20610,46,20610
5787544,"POLYGON ((381250.000 6697500.000, 381000.000 6...",5859425,204,14290,131,114,19264,134,111,19264,41,20749,36,20749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6016697,"POLYGON ((372750.000 6665500.000, 372500.000 6...",5859425,440,30784,146,121,42935,160,132,43752,64,40656,56,40634
6016698,"POLYGON ((373000.000 6665500.000, 372750.000 6...",5859425,438,30639,146,119,42789,160,130,43606,65,40687,57,40665
6016699,"POLYGON ((373250.000 6665500.000, 373000.000 6...",5859425,440,30766,146,121,42916,160,132,43734,67,40375,59,40352
6018253,"POLYGON ((372750.000 6665250.000, 372500.000 6...",5859425,443,30996,146,124,43146,160,135,43964,66,40864,58,40842
6018254,"POLYGON ((373000.000 6665250.000, 372750.000 6...",5859425,441,30866,146,122,43016,160,133,43834,68,40962,60,40940

In [38]:
data.to_crs(epsg=4326).to_file('data.geojson',driver="GeoJSON")